extends layout

block content
  h1= title
  
   p Wait is over for the timing to read the books.
    p No more wastage of papers.
     p This page provides you all the genres with well known categories of books.  